<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p style="font-size: 18px;"><b>Lead Detail</b></p>
    <hr>
<table >
    <tr>
        <td><table style="width:100%; padding: 3px; text-align: left;" border="1">
            <tr>
                <td><b>Query No.</b></td>
                <td>REF2614</td>
            </tr>
            <tr>
                <td><b>Project Name</b></td>
                <td>Air Cooler</td>
            </tr>
            <tr>
                <td><b>Client Name</b></td>
                <td>Supriya Anand</td>
            </tr>
        </table>
    </td>
        <td>
            <table style="width:100%; padding: 3px; text-align: left;" border="1">
                <tr>
                    <td><b>Order Punching Date</b></td>
                    <td>01-01-1997 05:20:00</td>
                </tr>
                <tr>
                    <td><b>No. of Mould</b></td>
                    <td>3</td>
                </tr>
        </table>
    </td>
    </tr>
</table>
<br>
<br>
<table style="width:100%; padding: 3px; text-align: center;" border="1">
    <tr>
        <td><b>S.NO.</b></td>
        <td><b>STAGE NAME AND LEVEL</b></td>
        <td><b></b></td>
        <td><b>ACCOUNTABILITY</b></td>
        <td><b>START DATE</b></td>
        <td><b>END DATE</b></td>
        <td><b>TOTAL DAYS</b></td>
        <td><b>REMARKS</b></td>
    </tr>

    <tr>
        <td>B.O</td>
        <td>CLIENT MEETING</td>
        <td>STAGE-1</td>
        <td>BDM</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>