<!DOCTYPE html>
<html>
<head>
<title>Invoice</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
<link rel="stylesheet" href="<?php echo assets_url;?>css/invoice/jobcardcss.css">

</head>

<body>
    <page size="A4">
    	<div class="pageinside-invoice">
			<div class="row">
				<div class="col-sm-12">
					<table style="width:100%">
						<thead>
							<tr>
								<td style="text-align:center"><img src="logo.png"></th>
							</tr>
						</thead>
					</table>
					<br><br>
					<table style="margin-bottom:0;width:100%;">
						<tbody>
							<tr>
								<td style="border:2px solid #333;padding:2px 4px;background-color:#731c47;color:#fff;text-transform:uppercase;font-weight:bold">TimeStamp</td>
								<td style="border:2px solid #333;padding:2px 4px">2019-03-14</td>
								<td style="width:50px;padding:2px 4px">&nbsp;</td>
								<td style="width:50px;padding:2px 4px">&nbsp;</td>
								<td style="border:2px solid #333;padding:2px 4px;background-color:#731c47;color:#fff;text-transform:uppercase;font-weight:bold">Plate Size</td>
								<td style="border:2px solid #333;padding:2px 4px;background-color:yellow">MEDIUM</td>
								<td style="width:100px;padding:2px 4px">&nbsp;</td>
							</tr>
							<tr>
								<td style="border:2px solid #333;padding:2px 4px;background-color:#731c47;color:#fff;text-transform:uppercase;font-weight:bold">Date</td>
								<td style="border:2px solid #333;padding:2px 4px">2019-03-14</td>
								<td style="width:50px;padding:2px 4px;background-color:red;color:#fff">CHECK</td>
								<td style="width:50px;padding:2px 4px">&nbsp;</td>
								<td style="border:2px solid #333;padding:2px 4px;background-color:#731c47;color:#fff;text-transform:uppercase;font-weight:bold">Plate Size</td>
								<td style="border:2px solid #333;padding:2px 4px;background-color:yellow">MEDIUM</td>
								<td style="width:100px;padding:2px 4px">&nbsp;</td>
							</tr>
							<tr>
								<td style="border:2px solid #333;padding:2px 4px;background-color:#731c47;color:#fff;text-transform:uppercase;font-weight:bold">Date</td>
								<td style="border:2px solid #333;padding:2px 4px">2019-03-14</td>
								<td colspan="5" style="width:50px;padding:2px 4px">&nbsp;</td>
							</tr>
							<tr>
								<td style="border:2px solid #333;padding:2px 4px;background-color:#731c47;color:#fff;text-transform:uppercase;font-weight:bold">Date</td>
								<td style="border:2px solid #333;padding:2px 4px">2019-03-14</td>
								<td style="width:50px;padding:2px 4px;background-color:red;color:#fff">CHECK</td>
								<td colspan="4" style="width:50px;padding:2px 4px">&nbsp;</td>
							</tr>
						</tbody>
					</table>
					<br>
					<table class="table tablenoborder" style="border:2px solid #333;margin-bottom:0">
						<thead>
							<tr class="border">
								<td colspan="6" style="background-color:#731c47;color:#fff;text-transform:uppercase;padding:2px 4px;font-weight:bold;border-right:1px solid #000">Consumable Item</td>
								<td style="background-color:#731c47;color:#fff;text-transform:uppercase;padding:2px 4px;font-weight:bold;border-right:1px solid #000">&nbsp;</td>
								<td colspan="3" style="background-color:#731c47;color:#fff;text-transform:uppercase;padding:2px 4px;font-weight:bold">Qualtity</td>
							</tr>
							<tr>
								<td style="background-color:#a64d79;border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">S.No.</td>
								<td style="background-color:#a64d79;border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">Part Name</td>
								<td style="background-color:#a64d79;border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">Part Name</td>
								<td style="background-color:#a64d79;border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">Part Name</td>
								<td style="background-color:#a64d79;border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">Part Name</td>
								<td style="background-color:#a64d79;border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">Part Name</td>
								<td style="background-color:#a64d79;border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">Part Name</td>
								<td style="background-color:#a64d79;border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">Part Name</td>
								<td style="background-color:#a64d79;border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">Part Name</td>
								<td style="background-color:#a64d79;text-transform:uppercase;color:#fff;padding:2px 4px;">Part Name</td>
							</tr>
							<tr>
								<td style="border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">&nbsp;</td>
								<td style="border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">&nbsp;</td>
								<td style="border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">&nbsp;</td>
								<td style="border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">&nbsp;</td>
								<td style="border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">&nbsp;</td>
								<td style="border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">&nbsp;</td>
								<td style="border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">&nbsp;</td>
								<td style="border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">&nbsp;</td>
								<td style="background-color:yellow;border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">&nbsp;</td>
								<td style="border-right:1px solid #000;text-transform:uppercase;color:#fff;padding:2px 4px;">&nbsp;</td>
							</tr>
						</thead>
					</table>
				</div>
			</div>
        </div>
    </page>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	</body>
</html>